<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.odoo">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.READ_SYNC_STATS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_DOCUMENTS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.CALL_PHONE" />


    <application
        android:name="com.odoo.App"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:largeHeap="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.odoo.core.account.OdooLogin"
            android:label="${applicationName}"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.odoo.core.account.ManageAccounts" />
        <activity
            android:name="com.odoo.OdooActivity"
            android:windowSoftInputMode="adjustPan"
            android:label="${applicationName}" />
        <activity android:name="odoo.controls.SearchableItemActivity" />
        <activity android:name="com.odoo.SettingsActivity" />
        <activity
            android:name="com.odoo.core.account.AppIntro"
            android:screenOrientation="portrait" />
        <activity
            android:name=".base.addons.mail.widget.MailDetailDialog"
            android:theme="@style/Theme.AppCompat.Light.Dialog" />
        <activity
            android:name=".base.addons.mail.widget.MailChatterCompose"
            android:theme="@style/Theme.AppCompat.Light.Dialog" />
        <activity
            android:name="com.odoo.core.account.OdooAccountQuickManage"
            android:theme="@style/Theme.AppCompat.Light.Dialog"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name="com.odoo.core.account.About" />
        <activity android:name="com.odoo.core.account.Profile" />

        <!-- Reminder Receivers// -->
        <receiver android:name="com.odoo.core.utils.reminder.ReminderReceiver" />
        <receiver android:name="com.odoo.core.utils.reminder.ReminderActionReceiver" />

        <service android:name="com.odoo.core.auth.OdooAuthService">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>

            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>

        <provider
            android:name="com.odoo.core.orm.provider.BaseModelProvider"
            android:authorities="${applicationId}.core.provider.content"
            android:multiprocess="true" />

        <!-- Sync Provider & Service Customer  // -->
        <provider
            android:name="com.odoo.addons.customers.providers.CustomersSyncProvider"
            android:authorities="${applicationId}.core.provider.content.sync.res_partner"
            android:label="@string/sync_label_customers"
            android:multiprocess="true" />

        <service
            android:name="com.odoo.addons.customers.services.CustomerSyncService"
            android:exported="true"
            android:process=":sync_customer">
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>

            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/customer_sync_adapter" />
        </service>

        <!-- Sync Provider & Service Project Project  // -->

        <provider
            android:name="com.odoo.addons.projects.providers.ProjectProjectProvider"
            android:authorities="com.odoo.addons.projects.project_project"
            android:label="Project Project"
            android:multiprocess="true" />

        <service android:name=".addons.projects.services.ProjectProjectSyncService"
            android:exported="true"
            android:process=":sync_projects">
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>

            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/project_sync_adapter" />
        </service>

        <!-- Sync Provider & Service Project Task  // -->
        <provider
            android:name="com.odoo.addons.projects.providers.ProjectTaskProvider"
            android:authorities="com.odoo.addons.projects.project_tasks"
            android:label="Project Tasks"
            android:multiprocess="true" />


        <service android:name=".addons.projects.services.ProjectSyncService"
            android:exported="true"
            android:process=":sync_tasks">
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>

            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/task_sync_adapter" />
        </service>

        <!-- Sync Provider & Service Project Task Type  // -->
        <provider
            android:name="com.odoo.addons.projects.providers.ProjectTaskTypeProvider"
            android:authorities="com.odoo.addons.projects.project_task_type"
            android:label="Project Tasks Type"
            android:multiprocess="true" />


        <service android:name=".addons.projects.services.ProjectTaskTypeSyncService"
            android:exported="true"
            android:process=":sync_tasks_type">
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>

            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/task_type_sync_adapter" />
        </service>

        <!-- Sync Provider & Service Survey Survey  // -->

        <provider
            android:name="com.odoo.addons.survey.providers.SurveySurveyProvider"
            android:authorities="com.odoo.addons.survey.survey_survey"
            android:label="Survey"
            android:multiprocess="true" />

        <service android:name=".addons.survey.services.SurveySurveySyncService"
            android:exported="true"
            android:process=":sync_survey">
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>

            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/survey_survey_sync_adapter" />
        </service>

        <!-- Sync Provider & Service Survey Page  // -->

        <provider
            android:name="com.odoo.addons.survey.providers.SurveyPageProvider"
            android:authorities="com.odoo.addons.survey.survey_page"
            android:label="Survey Page"
            android:multiprocess="true" />

        <service android:name=".addons.survey.services.SurveyPageSyncService"
            android:exported="true"
            android:process=":sync_survey_page">
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>

            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/survey_page_sync_adapter" />
        </service>

        <!-- Sync Provider & Service Survey Question  // -->

        <provider
            android:name="com.odoo.addons.survey.providers.SurveyQuestionProvider"
            android:authorities="com.odoo.addons.survey.survey_question"
            android:label="Survey Question"
            android:multiprocess="true" />

        <service android:name=".addons.survey.services.SurveyQuestionSyncService"
            android:exported="true"
            android:process=":sync_survey_question">
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>

            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/survey_question_sync_adapter" />
        </service>

        <!-- Sync Provider & Service Survey User Input  // -->

        <provider
            android:name="com.odoo.addons.survey.providers.SurveyUserInputProvider"
            android:authorities="com.odoo.addons.survey.survey_user_input"
            android:label="Survey User Input"
            android:multiprocess="true" />

        <service android:name=".addons.survey.services.SurveyUserInputSyncService"
            android:exported="true"
            android:process=":sync_survey_user_input">
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>

            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/survey_user_input_sync_adapter" />
        </service>

        <!-- Sync Provider & Service Survey User Input Line  // -->

        <provider
            android:name="com.odoo.addons.survey.providers.SurveyUserInputLineProvider"
            android:authorities="com.odoo.addons.survey.survey_user_input_line"
            android:label="Survey User Input Line"
            android:multiprocess="true" />

        <service android:name=".addons.survey.services.SurveyUserInputLineSyncService"
            android:exported="true"
            android:process=":sync_survey_user_input_line">
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>

            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/survey_user_input_line_sync_adapter" />
        </service>

        <!-- Sync Provider & Service Survey Label  // -->

        <provider
            android:name="com.odoo.addons.survey.providers.SurveyLabelProvider"
            android:authorities="com.odoo.addons.survey.survey_label"
            android:label="Survey Label"
            android:multiprocess="true" />

        <service android:name=".addons.survey.services.SurveyLabelSyncService"
            android:exported="true"
            android:process=":sync_survey_label">
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>

            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/survey_label_sync_adapter" />
        </service>


        <!-- Activity-->
        <activity
            android:name="com.odoo.addons.customers.CustomerDetails"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name="com.odoo.addons.projects.TasksDetails"
            android:windowSoftInputMode="adjustPan" />


    </application>

</manifest>
